*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: auto;
    min-height: 800px;
    width: 100%;
    background: url(/Assets/Images/group-1.jpg);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background: #d35649;
}
nav .logo img {
    height: 80px;
    width: 80px;
}